
@model IEnumerable<PROG_POE_02.Models.Product>

@{
    ViewBag.Title = "Index";
}
<body>
    <h1 style="font-family: 'Times New Roman'; font-weight: bold ">Farm Central</h1>
        <h2 style="font-family: 'Times New Roman'">Products</h2>
        <h4 style="font-family: 'Times New Roman'">List of products.</h4>
        
        <br />

        @*<input type="search" id="searching" name="q" placeholder="Search...">
            <button>Search</button>*@
        <form method="get" action="/Product/ViewProducts">
            @Html.TextBox("searching", null, new { @class = "form-control", @placeholder = "Product Type" })
            <input type="submit" value="submit" />

            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="font-size: large; font-family: 'Times New Roman'">Product Name</th>
                            <th scope="col" style="font-size: large; font-family: 'Times New Roman'">Product Description</th>
                            <th scope="col" style="font-size: large; font-family: 'Times New Roman'">Product Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.ToList().Count; i++)
                        {
                            <tr>
                                <td style="font-size: large; font-family: 'Times New Roman'">@Model.ToList()[i].Product_name</td>
                                <td style="font-size: large; font-family: 'Times New Roman'">@Model.ToList()[i].Product_description</td>
                                <td style="font-size: large; font-family: 'Times New Roman'">@Model.ToList()[i].Product_Type</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <a href="/Home/FarmerWelcome" class="link-primary" style="font-size: large; font-family: 'Times New Roman'">Back</a>
        </form>
</body>
