@{
    ViewBag.Title = "Contact";
}
<h1 style="font-family: 'Times New Roman'; font-weight: bold; align-content:center">FARM CENTRAL</h1>
<p>BRICK-AND-MORTAR STORE</p>

<h4 style="font-family: 'Times New Roman'; font-weight: bold; align-items:center">CONTACT</h4>
<br />
<p>Email or visit us for any further queries.</p>
<address>
    One woodstreet Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone"></abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">marko@farmcentral.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">joe@farmcentral.com</a>
</address>