<!DOCTYPE html>
<html lang="en">
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
       
        <br /><img class="w3-image" src="~/Images/fieldpic.png" alt="Me" width="1500" height="600">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">FARM CENTRAL</h1>
            <h1 class="w3-hide-large" style="white-space:nowrap">FARM CENTRAL</h1>
            <h3 class="w3-hide-medium w3-hide-small">BRICK-AND-MORTAR STORE</h3>
        </div>
    </header>

    <hr id="about">

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
        <h3>About Me, The Food Man</h3><br>
       
        <div class="w3-padding-32">
            <h4><b>I am Who I Am!</b></h4>
            <h6><i>With Passion For Real, Good Food</i></h6>
            <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of
            lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut 
            rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent 
            tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        </div>
    </div>
    <hr>
</body>
</html>
