<!DOCTYPE html>
<html lang="en">
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  
    <header class="w3-display-container w3-content w3-center" style="max-width:1500px">

        <br /><img class="w3-image" src="~/Images/pexels-jahoo-clouseau-388415 (1).jpg" alt="Me" width="1500" height="600">
        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center" style="background-color:darkslategray">
            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge" style="font-family: 'Times New Roman'">FARM CENTRAL</h1>
            <h1 class="w3-hide-large" style="white-space: nowrap; font-family: 'Times New Roman'">FARM CENTRAL</h1>
            <h3 class="w3-hide-medium w3-hide-small" style="font-family: 'Times New Roman'">BRICK-AND-MORTAR STORE</h3>
        </div>
    </header>

    <hr id="about">

    <div class="w3-container w3-padding-32 w3-center">
        <h3 style="font-family: 'Times New Roman'">About Farm Central, And their Brilliant Work</h3>

        <div class="w3-padding-32">
            <h4 style="font-family: 'Times New Roman'"><b>Sustainable farming is about meeting the needs of South Africans today and in the future.</b></h4>
            <h6 style="font-family: 'Times New Roman'"><i>With Passion For Real, Good Food</i></h6>
            <p style="font-family: 'Times New Roman'">
                Agriculture has done more to reshape the natural world than anything else we humans do, both its landscapes and its
                fauna and flora. Our eating also constitutes a relationship with dozens of other species - plants, animals and fungi -
                with which we have co-evolved to the point where our fates are deeply intertwined..
            </p>
        </div>
    </div>

    <hr>
</body>
</html>
