<!DOCTYPE html>
<html>

<body>
    <br />
    <h1 style="font-family: 'Times New Roman'; font-weight: bold ">Farm Central</h1>
    <h2 style=" font-family: 'Times New Roman'">Selection</h2>
    <h4 style=" font-family: 'Times New Roman'">Please choose a role to continue</h4>
 
    <form>
        <div>
            <img src="~/Images/emp.png"
                 width="200"
                 height="290" />
           
            <a href="/Account/EmployeeVerify" class="link-dark" style="font-size: large; font-family: 'Times New Roman'; color:black">Employee</a>
        </div>
    </form>
    <br />
    <form>
        <div>
            <img src="~/Images/far.png"
                 width="200"
                 height="290" />
           
            <a href="/Account/Verify" class="link-dark" style="font-size: large; font-family: 'Times New Roman'; color:black">Farmer</a>
        </div>
    </form>

</body>
</html>
