

<h1 style="font-family: 'Times New Roman'; font-weight: bold ">Farm Central</h1>
<h2 style=" font-family: 'Times New Roman'">Employee Login</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <h6 style="font-size: large; font-family: 'Times New Roman'">Please fill in the following information to log in.</h6>

    <div style="margin-left: 30%; margin-right: 30%; margin-top: 3%; margin-bottom: 5%">
        <form method="post" action="/Account/EmployeeVerify">
            <div class="mb-3">
                <label for="username" class="form-label" style="font-size: large; font-family: 'Times New Roman'">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
                <br />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="font-size: large; font-family: 'Times New Roman'">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
                <br />
            </div>
            <button type="submit" class="btn btn-primary" style="font-size: large; font-family: 'Times New Roman'; background-color:darkseagreen">Log in</button>
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                </script>
            }
            <br />
            <br />
            <a href="/Home/SelectionScreen" class="link-dark" style="font-size: large; font-family: 'Times New Roman'; color:black">Back</a>
            <br />
            <a href="/Account/EmployeeRegister" class="link-dark" style="font-size: large; font-family: 'Times New Roman'; color:black">Create an account</a>
        </form>
    </div>

</body>
</html>
