
@model IEnumerable<PROG_POE_02.Models.Flogin>

@{
    ViewBag.Title = "Index";
}
<h1 style="font-family: 'Times New Roman'; font-weight: bold">Farm Central</h1>
<h2 style="font-family: 'Times New Roman'">Farmers</h2>
<h4 style="font-family: 'Times New Roman'">The following is the list of farmers available</h4>

<body>
    <br />

    @*<input type="search" id="searching" name="q" placeholder="Search...">
        <button>Search</button>*@
    <form method="get" action="/Employee/ViewFarmers">
        <div>
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col" style="font-family: 'Times New Roman'; font-size: large;">Farmer Name</th>
                        <th scope="col" style="font-family: 'Times New Roman'; font-size: large;">View Products</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.ToList().Count; i++)
                    {
                        <tr>
                            <td style="font-family: 'Times New Roman'; font-size: large;">@Model.ToList()[i].username</td>
                            <td style="font-family: 'Times New Roman'; font-size: large;">
                                <a href="/Employee/ViewFarmerProducts/@Model.ToList()[i].username" class="link-primary">View</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <a href="/Home/Welcome" class="link-primary" style="font-family: 'Times New Roman'; font-size: large;">Back</a>
    </form>
</body>
