
@model IEnumerable<PROG_POE_02.Models.Flogin>

@{
    ViewBag.Title = "Index";
}
<body style="background-color: #D5DBDB ">
    <h1>Modules Display</h1>
    <h6>Following are the modules that you have added.</h6>
  
    <br />

    @*<input type="search" id="searching" name="q" placeholder="Search...">
        <button>Search</button>*@
    <form method="get" action="/Employee/ViewFarmers">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Farmer Name</th>
                        <th scope="col">View Products</th>
                        
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.ToList().Count; i++)
                    {
                        <tr>
                            <td>@Model.ToList()[i].username</td>
                            <td>
                                <a href="/Employee/ViewFarmerProducts/@Model.ToList()[i].username" class="link-primary">View</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <a href="/Home/Index" class="link-primary">Back</a>
    </form>
</body>
